In [1]:
#library for data preprocessing
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Churn.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [27]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [4]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.shape

(10000, 14)

In [6]:
df.reset_index(drop=True, inplace=True)

In [7]:
df=df.dropna()
df=df.drop('Surname',axis=1)

In [8]:
inputs=df.drop('Exited',axis=1)
target=df.Exited

In [9]:
target.shape

(10000,)

In [10]:
#converting categorical to numerical data
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [11]:
columns=['Geography','Gender']
for column in columns:
    label=LabelEncoder()
    inputs[column]=label.fit_transform(inputs[column])

In [12]:
inputs.sample(3)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6257,6258,15617301,774,1,1,36,9,130809.77,1,1,0,152290.28
2128,2129,15605835,743,0,1,37,8,69143.91,2,0,1,105780.18
3151,3152,15584320,686,0,0,39,3,111695.62,1,0,0,136643.84

In [13]:
#scalling th numerical columns and fit into the model
scaler = StandardScaler()
inputs[['CreditScore','Balance','EstimatedSalary']]=scaler.fit_transform(inputs[['CreditScore','Balance','EstimatedSalary']])
inputs.sample(5)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
3102,3103,15660866,-0.108939,0,0,29,3,-1.225848,2,1,0,-1.692759
9259,9260,15806327,1.546545,0,0,40,3,-0.009501,2,1,0,0.564655
2740,2741,15787699,-0.005471,1,1,34,4,1.056302,1,1,1,-1.544383
8498,8499,15624892,0.636029,1,1,37,7,0.280363,2,1,0,-0.685796
3918,3919,15740283,2.063884,0,1,29,1,-1.225848,2,0,0,0.919994

In [14]:
#taking training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.25)

In [15]:
#importing perceptron
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [16]:
perceptron=Perceptron()
perceptron.fit(X_train,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [17]:
#checking accuracy between training and test data and check wrt actual given data
y_prediction_train=perceptron.predict(X_train)
y_prediction_test=perceptron.predict(X_test)
print(" Accuracy after tarining :{} ".format(accuracy_score(y_prediction_train,y_train)))
print("Accuracy after testing:{}".format(accuracy_score(y_prediction_test,y_test)))

 Accuracy after tarining :0.7946666666666666
Accuracy after testing:0.8012

In [18]:

from sklearn.model_selection import GridSearchCV

In [19]:
#tuning hyperparameters
hyperparameters={'eta0': [1.0,0.5], 'max_iter': [200,500],'alpha':[0.0004]}

In [20]:
GsCV=GridSearchCV(perceptron,hyperparameters,cv=10)

In [21]:
GsCV.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Perceptron(alpha=0.0001, class_weight=None,
                                  early_stopping=False, eta0=1.0,
                                  fit_intercept=True, max_iter=1000,
                                  n_iter_no_change=5, n_jobs=None, penalty=None,
                                  random_state=0, shuffle=True, tol=0.001,
                                  validation_fraction=0.1, verbose=0,
                                  warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.0004], 'eta0': [1.0, 0.5],
                         'max_iter': [200, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [22]:
GsCV.best_score_

0.7946666666666665

In [23]:
#checking accuracy between training and test data and check wrt actual given data
perceptron=GsCV.best_estimator_
y_prediction_train=perceptron.predict(X_train)
y_prediction_test=perceptron.predict(X_test)
print(" Accuracy after tarining :{} ".format(accuracy_score(y_prediction_train,y_train)))
print("Accuracy after testing:{}".format(accuracy_score(y_prediction_test,y_test)))

 Accuracy after tarining :0.7946666666666666
Accuracy after testing:0.8012